<!DOCTYPE html>
<html>
    <head>
        <title>NEBULAE</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>stock}}
            <table border="0" width="100%">
                <tr>
                    <td width="25%" class="table-td-stock-top">
                        <table width="100%">
                            <tr>
                                <td class="table-td-stock" align="center">DETALHES</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom" align="center" height="50px">{{fullName}}</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom" align="left">CPNJ: {{registryNumber}}</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom" align="left">Fundação: {{foundationDate}}</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom" align="left">Código CVM: {{exchangeComissionCode}}</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom" align="left">Listagem na Bolsa: {{exchangeRegistryDate}}</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom" align="left">Sede: {{headquarter}}</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom" align="left">Setor: {{sector}}</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom" align="left">Sites: Institucional | RI | Site B3</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom" align="center">+ Detalhes</td>
                            </tr>
                        </table>
                    </td>
                    <td width="1%"></td>
                    <td width="72%" class="table-td-stock-top">
                        <table width="100%">
                            <tr>
                                <td class="table-td-stock" align="center">COTAÇÃO</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom" align="center"><canvas id="stockQuotes" height="141px"></canvas></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td colspan="3"><br/></td></tr>
                <tr>
                    <td class="table-td-stock-top">
                        <table width="100%">
                            <tr>
                                <td colspan="2" class="table-td-stock" align="center">INDICADORES</td>
                            </tr>
                        </table>
                    </td>
                    <td></td>
                    <td class="table-td-stock-top">
                        <table width="100%">
                            <tr>
                                <td colspan="2" class="table-td-stock" align="center">HISTÓRICO DE INDICADORES</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td colspan="3"><br/></td></tr>
                <tr>
                    <td class="table-td-stock-top">
                        <table width="100%">
                            <tr>
                                <td colspan="2" class="table-td-stock" align="center">QUALIDADE</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom" width="50%">Governança</td>
                                <td class="table-td-stock-right" align="center">* * * * *</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom">Lucratividade</td>
                                <td class="table-td-stock-right" align="center">* * * * *</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom">Crescimento</td>
                                <td class="table-td-stock-right" align="center">* * * * *</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom">Endividamento</td>
                                <td class="table-td-stock-right" align="center">* * * * *</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom">Dividendo</td>
                                <td class="table-td-stock-right" align="center">* * * * *</td>
                            </tr>
                        </table>
                    </td>
                    <td></td>
                    <td class="table-td-stock-top">
                        <table width="100%">
                            <tr>
                                <td colspan="9" class="table-td-stock" align="center">BALANÇOS</td>
                            </tr>
                            <tr>
                                <td class="table-td-stock-bottom" align="center">Ano</td>
                                <td class="table-td-stock-right" align="center">Patrimônio Líquido</td>
                                <td class="table-td-stock-right" align="center">Receita Líquida</td>
                                <td class="table-td-stock-right" align="center">EBIT</td>
                                <td class="table-td-stock-right" align="center">Impostos</td>
                                <td class="table-td-stock-right" align="center">Resultados Financeiros</td>
                                <td class="table-td-stock-right" align="center">Lucro Líquido</td>
                                <td class="table-td-stock-right" align="center">Caixa</td>
                                <td class="table-td-stock-right" align="center">Dívida</td>
                            </tr>
                            {{#each financials}}
                                <tr>
                                    <td class="table-td-stock-bottom" align="center">{{this.quarter}}</td>
                                    <td class="table-td-stock-right" align="center">{{this.liabilities.equity}}</td>
                                    <td class="table-td-stock-right" align="center">{{this.income.revenue}}</td>
                                    <td class="table-td-stock-right" align="center">{{this.income.ebit}}</td>
                                    <td class="table-td-stock-right" align="center">{{this.income.taxes}}</td>
                                    <td class="table-td-stock-right" align="center">{{this.income.financialResult}}</td>
                                    <td class="table-td-stock-right" align="center">{{this.income.netIncome}}</td>
                                    <td class="table-td-stock-right" align="center">{{this.assets.longTermAssets}}</td>
                                    <td class="table-td-stock-right" align="center">{{this.liabilities.nonCurrentLiabilities}}</td>
                                </tr>
                            {{/each}}
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        {{>footer}}
    </body>

    <script>
        window.onload = function() {
            var ctx = document.getElementById('stockQuotes').getContext('2d');
            var stockQuotes = new Chart(ctx, {
                type: 'line',
                data: {{{json dataStockQuotes}}},
                options: {
                    responsive: true,
                    title: {
                        display: false
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: false,
                                labelString: 'DATA'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: false,
                                labelString: 'COTAÇÃO'
                            }
                        }]
                    }
                }
            });
        };
    </script>
</html>